# SPDX-License-Identifier: GPL-2.0-only
config NET_VENDOR_MEDIATEK
	bool "MediaTek ethernet driver"
	depends on ARCH_MEDIATEK || SOC_MT7621 || SOC_MT7620
	---help---
	  If you have a Mediatek SoC with ethernet, say Y.

if NET_VENDOR_MEDIATEK

config NET_MEDIATEK_SOC
	tristate "MediaTek SoC Gigabit Ethernet support"
	select PHYLINK
	select PAGE_POOL
	---help---
	  This driver supports the gigabit ethernet MACs in the
	  MediaTek SoC family.

if NET_MEDIATEK_SOC

config MEDIATEK_SOC_SELFTESTS
	bool "Support for MediaTek SoC Ethernet Selftests"
	depends on INET
	depends on NET_MEDIATEK_SOC
	default n
	---help---
	  This adds support for MediaTek Selftests using ethtool. Enable this
	  feature if you are facing problems with your HW and submit the test
	  results to the netdev Mailing List.

endif #MEDIATEK_SOC_SELFTESTS

endif #NET_VENDOR_MEDIATEK
